<p>
  noob-test works!
</p>


<div class="container">
  <div class="row">
    <div class="col-md-2">
        <h4>delete all</h4>
        <button mat-raised-button (click)="deleteAll()">deleteAll</button>
    </div>
    <div class="col-md-2">
        <h4>{{iP}}</h4>
        <button mat-raised-button (click)="addPersonne()">addPersonne</button>
    </div>
    <div class="col-md-2">
        <h4>{{iS}}</h4>
        <button mat-raised-button (click)="addSociete()">addSociete</button>
    </div>
    <!-- <div class="col-md-2">
        <h4>{{iE}}</h4>
        <button mat-raised-button (click)="addEspece()">addEspece</button>
    </div> -->
    <div class="col-md-2">
        <h4>{{iC}}</h4>
        <button mat-raised-button (click)="addCheque()">addCheque</button>
    </div>
    <div class="col-md-2">
        <h4>{{iA}}</h4>
        <button mat-raised-button (click)="addAlimentation()">addAlimentation</button>
    </div>
  </div>
  
</div>
