.override{
    border-top-right-radius: 0 !important; 
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-radius: 0 !important;
  }

.text{
    text-transform: uppercase;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 500;
}